#root {
  height: 100vh;
  margin: 20px 40px;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header */

.header {
  background-color: #1F2535;
  width: 100%;
  height: 100%;
}

.top-header{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ironhack-logo {
  margin-left: 100px;
  margin-top: 140px;
  width: 100px
} 

.menu-top {
  margin-right: 100px;
  margin-top: 140px;
  width: 70px
}

.text-header {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  width: 47%;
  margin-top: 130px;
  margin-left: 110px;
}

.h1-header {
  font-size: 100px;
  color: white;
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-align: left;
}

.p-header {
  color: white;
  font-size: 40px;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Button */

.button-div {
  position: absolute;
  bottom: 110px;
  left: 153px;
  width: 20%;
  height: 90px
}

.btn-header {
  width: 100%;
  height: 100%;
  font-size: 40px;
  border-radius: 10px;
  font-weight: bold;
  color: #1F2535
}

/* Footer */

.footer {
  width: 100%;
}

.footer-icons {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

